.blackjack-container {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.blackjack-row-1,.blackjack-row-2 {
    border: 1px solid black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    background: url("images/bg.jpg") center;
    
    padding: 10px;
}
.blackjack-row-2{
    padding: 14px;
    background-image: url("images/bg.jpg");
    background-position: center;
}
.blackjack-row-3 {
    display: flex;
    justify-content: center;
    padding: 7px;
}
tr,td, th{
    border: 1px solid black;
    padding: 5px;
}
.blackjack-row-1 div{
    border: 1px solid black;
    flex:1;
    height: 500px;
    width: 533px;
}
.your-div img{
    justify-content: space-around;

}
.blackjack-row-1 img{
    width : 24%;
    padding:10px;
}
