* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#main {
  background: url("https://source.unsplash.com/1600x900/?durgapur");
  height: 100vh;
  /* z-index: -2; */
}
#main::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.408);
  /* z-index: -1; */
}
.wearther-container {
  height: 60vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  z-index: 10;
}
.weather-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 25, 33, 0.858);
  padding: 2rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.2rem;
}
.weather-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-search input {
  height: 2.8rem;
  width: 20rem;
  border-radius: 0.8rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  background-color: aliceblue;
  margin-inline: 0.5rem;
}
.weather-search button {
  border-radius: 100%;
  height: 3.4rem;
  width: 3.4rem;
  font-size: 2rem;
  color: white;
  padding: 0.4rem;
  background-color: black;
  cursor: pointer;
}
.weather-location {
  padding: 0.8rem;
  font-size: 1.5rem;
  /* justify-content: space-between; */
}
.weather-details {
  display: flex;
  padding: 0.8rem;
}
.weather-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 15vh;
}
.weather-icon img {
  height: 7rem;
  /* width: 5rem; */
  color: white;
}
.weather-data {
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 50%;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* padding-block: 0.rem; */
}
.temperature {
  font-size: 2rem;
}
