@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height:min(54.5vh);
    background:url(joanna-kosinska-78uNJt1kPw8-unsplash.jpg)repeat center center/cover;
    /* background-size: cover; */
   
}
.navbar-brand{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    
}

.navbar-brand > img{
    height: 4.5rem;
    box-shadow: 10px 10px 12px -6px rgba(0,0,0,0.5);
    padding-left: 1rem;
}

input{
    width: 30rem;
    /* height: 4rem; */
    margin: 0.2rem;
    padding: 0.5rem;
    overflow: auto;
}
.list_area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  transition: transform 0.8s ease-in-out;
}

.btn {
    border-radius: 100%;
    
    position: relative;
    right:2rem;
    color:white;
    font-size: 1.4rem;
    background-color: rgb(239, 229, 25);
}
li{
    margin: 0.1rem;
    padding: 0.5rem;
    width:30rem;
    list-style: none;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    height: 3rem;
    overflow: auto;
}
.trash-btn,
.complete-btn {
    margin: 0.1rem;  
    outline: 1px solid black;
  background: white;
  color: black;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 15px;
}
.drop {
    transform:  rotateX(4.80deg) rotateY(40.23deg) translateY(80px) ;
   
  }
  
.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }


@media screen and (max-width:800px) {
    li{
        width:17rem;
    }
    input{
        width: 20rem;
    }
    footer{
      
        font-size: 0.6rem;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    top: 100%;   
    height: 4rem;
}
