@charset "utf-8";
/* CSS Document */

*{margin: 0px; padding: 0px;}

.parent {width: auto; height: 100vh; display: flex; justify-content: center; }

.main {width: 700px; height: 630px; margin: 40px; border-radius: 10px; font-family: sans-serif;
    box-shadow: 0px 0px 15px 2px rgb(196, 195, 195);}
    

.head {width: auto; height: 120px; ; text-align: center;}

.head h1 {font-size: 40px; margin: 10px;}

.head p {font-size: 27px; margin-bottom: 10px;}

.form {height: 510px; width: auto; margin-left: 50px;}

.form h3 {margin-top: 15px; margin-left: 10px;}

.box  {height: 45px; margin: 10px; font-size: 20px;  border: 1px solid black;  border-radius: 5px;}
.name {width: 270px;}
.num {width: 570px;}
.option{width:174px;}

.cont {width: auto; height: auto; display: flex;  margin-right: 60px; justify-content: space-between;}

.radio { width: 174px; display: flex; justify-content: space-around; align-items: center;}

.button {height: 43px; width: 170px; margin-left: 210px; margin-top: 18px; font-size: 23px; font-weight: 750; color: white;
        background-color: rgb(23, 166, 23); border-radius: 8px;}




