.botton-container button:hover{
    color: white;
    background-color: black;
}
.botton-container button{
    border: 2px solid black;
    margin:15px 10px 0;
    font-size: 20px;
}
.main{
    display:flex;
    width: 500px;
    height: 300px;
    flex-direction: column;
    text-align: center;
    margin: 18em auto;
    justify-content: center;
    align-items: center;
}
#head{
    font-size: 70px;
}
#count{
    font-size: 100px;
}